.nav-container {
	margin-top: 30px;
	width: 800px !important;
}

.navbar-header a, nav a {
	color: #fff;
}

.formdesign {
	background: #EB8921;
	height: 100%;
	display: block;
}

.formdesign h1 {
	font-size: 24px;
}

.formdesign form {
	font-size: 18px;
}

.formdesign h1, .formdesign form {
	color: #fff;
}
