.nav-container {
	margin-top: 30px;
	width: 800px !important;
}

.navbar {
	background: #EB8921;
}

.navbar-header a, nav a {
	color: #fff;
}

.content-container {
	width: 850px;
	margin: 50px auto;
}

.commitment-row {
	cursor: pointer;
}

.progress {
	background: #ddd;
}