.nav-container {
	margin-top: 30px;
	width: 800px !important;
}

.navbar-header a, nav a {
	color: #fff;
}

.home {
	background: #EB8921;
	height: 100%;
	display: block;
}

.home h2 {
	font-size: 42px;
}

.home form {
	font-size: 18px;
}

.home h2, .home form {
	color: #fff;
}

.main {
	width: 600px;
	margin: 150px auto;
}

.main .title {
	text-align: center;
}

.main .commitment {
	margin: 40px 72px;
}

.main .commitment input[type="submit"] {
	margin: 80px 126px;
}