.nav-container {
	margin-top: 30px;
	width: 800px !important;
}

.navbar {
	background: #EB8921;
}

.navbar-header a, nav a {
	color: #fff;
}

.newcommitment h1 {
	font-size: 24px;
}

.newcommitment form {
	font-size: 18px;
}
