.home {
	background: #6E4936;
	height: 100%;
	display: block;
}

.track {
	margin-top: 40px;
	margin-bottom: 40px;
}

.track .wrapper {
	padding: 20px 10px;
	margin-top: 0px;
}

.track .navbar-header {
	margin-bottom: 10px;
}

.track .nav .title {
	font-size: 85%;
	letter-spacing: 1px;
	color: #51586a;
	text-transform: uppercase;
	padding: 10px 0px 5px 20px;
}

.track .wrapper .nav a {
	width: 220px;
	text-align: left;
	border-radius: 5px;
	padding: 12px 10px 12px 15px;
}

.track .wrapper .nav .active {
	//background-color: #1ca8dd;
}

rect.bordered {
	cursor: pointer;
	stroke: #E6E6E6;
	stroke-width: 2px;
}
rect.bordered:hover {
	stroke: #999;
}

rect.goal {
	stroke: #EB8921;
}

text.mono {
	font-size: 9pt;
	font-family: Consolas, courier;
	fill: #999;
}

#visualisation {
	margin-left: 20%;
}

.summary-stats .avg, .summary-stats .streak, .summary-stats .max, .summary-stats .min {
	border: 1px solid #ddd;
	border-left: none;
	border-bottom: none;
	padding: 10px 30px 15px 30px;
	margin: 0 auto;
	text-align: center; 
}

.summary-stats p {
	margin-bottom: 5px;
}

.summary-stats p:not(.value){
	font-size: 12px;
	color: #666;
}
.summary-stats .value {
	color: #111;
	font-size: 22px;
	font-weight: bold;
}

.summary-stats .max {
	border-right: none;
}

.panel-body {
	padding-bottom: 0px;
}

.line.panel {
	display: none;
}


.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
