<head>
  <script src="./bootstrap/js/bootstrap.min.js"></script>
  <style>
body {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}
  </style>
  <link href="./bootstrap/css/bootstrap.min.css" type="/text/css" rel="stylesheet"/>
  <link href="./bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mockup</a>
    </div>
  </nav>
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Tracking</h1>
        <h2>Goal - Lose Weight in 30 days</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h3>Summary:</h3>
        <ul>
          <li>Exercise done this week:
            <ul>
              <li>Running: 2km</li>
              <li>Swimming: 4km</li>
            </ul>
          </li>
          <li>Days remaining: 12 days</li>
          <li>Total weight lost: 2kg</li>
        </ul>
      </div>
      <div class="col-md-4">
        <svg width="480" height="250"><g transform="translate(240,125)"><g class="arc"><path d="M7.041719095097281e-15,-115A115,115 0 0,1 51.29445083706902,-102.92657243551594L0,0Z" style="fill: rgb(152, 171, 197);"></path><text transform="translate(13.17404726116687,-55.97047863615731)" dy=".35em" style="text-anchor: middle;">&lt;5</text></g><g class="arc"><path d="M51.29445083706902,-102.92657243551594A115,115 0 0,1 108.44549787968106,-38.26975293398286L0,0Z" style="fill: rgb(138, 137, 166);"></path><text transform="translate(43.082301705633554,-38.08103569685)" dy=".35em" style="text-anchor: middle;">5-13</text></g><g class="arc"><path d="M108.44549787968106,-38.26975293398286A115,115 0 0,1 114.948334427588,3.4467974009780002L0,0Z" style="fill: rgb(123, 104, 136);"></path><text transform="translate(56.81388193301527,-8.856230558279389)" dy=".35em" style="text-anchor: middle;">14-17</text></g><g class="arc"><path d="M114.948334427588,3.4467974009780002A115,115 0 0,1 88.78521817890402,73.09025265330811L0,0Z" style="fill: rgb(107, 72, 107);"></path><text transform="translate(53.827021163367355,20.221320250626643)" dy=".35em" style="text-anchor: middle;">18-24</text></g><g class="arc"><path d="M88.78521817890402,73.09025265330811A115,115 0 0,1 -114.90109630398736,4.768445044437752L0,0Z" style="fill: rgb(160, 93, 86);"></path><text transform="translate(-18.285767151646425,54.514958678107504)" dy=".35em" style="text-anchor: middle;">25-44</text></g><g class="arc"><path d="M-114.90109630398736,4.768445044437752A115,115 0 0,1 -12.01787785570001,-114.37032225120936L0,0Z" style="fill: rgb(208, 116, 60);"></path><text transform="translate(-43.51901299609874,-37.58118555667702)" dy=".35em" style="text-anchor: middle;">45-64</text></g><g class="arc"><path d="M-12.01787785570001,-114.37032225120936A115,115 0 0,1 -1.2326567555080623e-13,-115L0,0Z" style="fill: rgb(255, 140, 0);"></path><text transform="translate(-3.0085906399617754,-57.42123633605545)" dy=".35em" style="text-anchor: middle;"></text></g></g></svg>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <h2>Report</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Exercise type</label>
            <select class="form-control">
              <option>Running</option>
              <option>Swimming</option>
              <option>Jogging</option>
            </select></option>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Exercise done</label>
            <input type="text" class="form-control" id="exampleInputEmail1" >
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Current weight</label>
            <input type="text" class="form-control" id="exampleInputEmail1" >
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Comment</label>
            <textarea class="form-control" id="exampleInputEmail1"></textarea>
          </div>
          <input type="submit" class="btn btn-default"/>
        </form>
      </div>
    </div>
  </section>
</body>
